.panda-bg-colour{
    background-color: #fcedeb;
}
.cetegories img{
    width: 100px;
}
.btn-colour{
    background-color: #ff5398;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}